/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-hdr,
	.menu,
    .flex {
		display: flex;
        	}

	.main-hdr,
    .flex {
		flex-direction: row;
		align-items: center;
	}

    .pic {
        flex: 1 25%;

    }

    .flex {
        flex-wrap: wrap;
    }

    
}

@media (min-width: 1025px) {

	.main-hdr,
    .menu,
    .flex {
        flex-direction: row;
		justify-content: space-between;
	}

    .flex {
        justify-content: center;
    }

    .pic {
        flex-basis: 0;
    }

	}