/* ================================= 
  Flex box and Media Queries
==================================== */

@media only screen and (min-width: 769px) {
	.main-hdr,
    
	.nav,
    .images {
		display: flex;
        	}
	.main-hdr,
    .images {
		flex-direction: row;
		box-align: center;
	}
    .pic {
        flex: 1 25%;
    }
    .images {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1024px) {
    .pic {
        flex: 1 40%;
    }
}

@media only screen and (min-width: 1025px) {
	.main-hdr,
    .nav,
    .images {
        flex-direction: row;
		justify-content: space-between;
	}
    .images {
        justify-content: center;
    }
    .pic {
        flex-basis: 0;
    }
}